$header_bg: #777;
$quoteform_bg: #e0e0e0;
$quote_form_field_border: #c7c7c7;
$dark_jumbotron_header: #fff;
$dark_jumbotron_text: rgba(255,255,255,.6);
$light_jumbotron_header: #000;
$light_jumbotron_text: rgb(102, 102, 102);
$error: #a94442;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;

  a, a:hover {
    text-decoration: none;
  }

  .hover-effect {
    display: inline-block;
    transition: all .2s ease-in-out;

    &:hover {
      margin-top: -3px;
      margin-bottom: 3px;
      opacity: 0.7;
    }
  }
}

.spacer {
  height: 50px;
}

section.jumbotron {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 100px 0;

  h1 {
    font-size: 3.2em;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 1.2em;
  }

  h2 {
    font-size: 1.35em;
    font-weight: 100;
    line-height: 1.6em;
  }

  h1, h2 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

section.jumbotron.dark {
  h1 {
    color: $dark_jumbotron_header;
  }

  h2 {
    color: $dark_jumbotron_text
  }
}

section.jumbotron.light {
  h1 {
    color: $light_jumbotron_header;
  }

  h2 {
    color: $light_jumbotron_text
  }
}

section#header {
  background: $header_bg url("/assets/images/backgrounds/homepage_jumbotron_grey2.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

section#quoteform {
  background: $quoteform_bg;

  form {
    margin-top: 20px;
  }

  button {
    display: inline-block;
    padding: 14px 36px;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    background: #f06544;
    color: #fff;
  }

  .has-error {
    & input, & textarea {
      border-color: $error;
    }
  }

  input {
    height: 47px;
  }

  input, textarea {
    border: 1px solid $quote_form_field_border;
    border-radius: 2px;
    padding: 10px 15px;
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    margin: 0em;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
  }
}

section#alerts {
  .alert-success, .alert-info, .alert-danger {
    display: none;
    border: none;
    border-radius: 2px;
  }
}

