%section#alerts
  .alert.alert-success{role: 'alert'}
    %i.fa.fa-check-square
    %span
  .alert.alert-info{role: 'alert'}
    %i.fa.fa-refresh
    %span
  .alert.alert-danger{role: 'alert'}
    %i.fa.fa-exclamation-triangle
    %span

:javascript
  var alerts = new Alerts($('section#alerts'));
