%section#alerts
  .container-fluid
    .row
      .col-sm-4
      .col-sm-4
        .alert.alert-success{role: 'alert'}
          %i.fa.fa-check-square
          %span
        .alert.alert-danger{role: 'alert'}
          %i.fa.fa-exclamation-triangle
          %span
