%section#alerts
  .container-fluid
    .row
      .col-sm-4
      .col-sm-4
        .alert.alert-success{role: 'alert'}
          Your request was successfully sent. We will respond within 48 hours. Thank you!
        .alert.alert-danger{role: 'alert'}
          %i.fa.fa-exclamation-triangle
          There was an issue sending your request. We apologise for any inconvenience.
