%section#connect.jumbotron
  %a{name: 'connect'}
  %h1
    Connect
  %h2
    Find out the latest news
  .social-icons
    .container-fluid
      .row
        .col-sm-2.col-sm-offset-4
          %a.hover-effect{:href => 'https://twitter.com/asceresini'}
            .fa.fa-twitter
        .col-sm-2
          %a.hover-effect{:href => 'https://www.facebook.com/ardelio'}
            .fa.fa-facebook
