%section#quoteform.jumbotron.light
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        %h1
          Interested?
        %h2
          Send us a message with some details about your request and we will call you back!
  .container-fluid
    %form
      %input#subject.form-control{type: 'hidden', name: 'subject', value: 'quote'}
      .row
        .col-md-4.col-md-offset-4
          .form-group
            %input#from.form-control{type: 'email', name: 'from', placeholder: 'Your email', onchange: 'quoteForm.validateFrom();'}
      .row
        .col-md-4.col-md-offset-4
          .form-group
            %textarea#body.form-control{name: 'body', rows: '5', placeholder: 'Your message...', onchange: 'quoteForm.validateBody();'}
      .row
        .col-md-4.col-md-offset-4
          .form-group
            %button.btn.btn-block.btn-default.btn-lg{type: 'button', onClick: 'quoteForm.send();'}
              Send
        .col-md-4.col-md-offset-4
          {% haml modules/alerts.haml %}

:javascript
  var quoteForm = new QuoteForm("{{site.webmuse_api_url}}emailer/ffab_email", alerts);
