%section#quoteform
  %form
    %input{type: 'hidden', name: 'subject', value: 'quote'}
    %input{type: 'email', name: 'from', placeholder: 'Your email'}
    %textarea{name: 'body', placeholder: 'Your message...'}
    %button{type: "button", onClick: "Mailer.send(this.parentNode);"}
      Send

:javascript
  var Mailer = {
    send: function(form) {
      var webmuse_api_url = "{{site.webmuse_api_url}}emailer/ffab_email";
      var subject = form.subject.value;
      var from = form.from.value;
      var body = form.body.value;

      $.ajax({
        type: 'POST',
        url: webmuse_api_url,
        dataType: 'json',
        data: JSON.stringify({
          subject: subject,
          from: from,
          body: body
        })
      });
    }
  };
