%section#quoteform
  %form{action: "{{site.webmuse_api_url}}emailer/ffab_email", method: 'POST'}
    %input{type: 'hidden', name: 'subject', value: 'quote'}
    %input{type: 'email', name: 'from', placeholder: 'Your email'}
    %textarea{name: 'body', placeholder: 'Your message...'}
    %input{type: 'submit', name: 'Send'}

